body,
html {
  width: 100%;
  height: 100%;
}
.layout-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-container {
  width: 100%;
  height: 50px;
  background-color: #fff;
  line-height: 50px;
  font-size: 30px;
}
.header-container .title {
  margin-left: 20%;
}
.main-container {
  flex: 1;
  width: 100%;
  background-color: #999;
  display: flex;
  justify-content: center;
}
.main-container .main-wrap {
  margin-top: 20px;
  width: 60%;
  height: 90%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}
.main-container .main-wrap .title {
  font-size: 16px;
}
.main-container .main-wrap .main-top {
  height: 60%;
  width: 100%;
}
.main-container .main-wrap .main-top .word-wrap {
  height: 100%;
  margin-top: 20px;
}
.main-container .main-wrap .main-top .word-wrap .navli {
  width: 45%;
  text-align: center;
  color: #999;
}
.main-container .main-wrap .main-top .word-wrap .navli a {
  font-size: 12px;
  color: #000;
}
.main-container .main-wrap .main-top .word-wrap .tab-content {
  height: 70%;
  border: 1px solid #DDDDDD;
  border-top: none;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .tab-pane {
  padding-top: 1%;
  height: 100%;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap {
  display: flex;
  height: 100%;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .explain {
  max-height: 10%;
  overflow: hidden;
  font-size: 10px;
  color: #999;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .explain .warn-img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .webuploader-pick {
  background-color: #F0F2F5;
  color: #000;
  padding: 5% 15%;
  font-size: 12px;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item {
  width: 100%;
  display: flex;
  align-items: center;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .file-name {
  flex-grow: 1;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap {
  display: flex;
  align-items: center;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap:hover {
  cursor: pointer;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap:hover .delete {
  color: red;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap:hover .close {
  display: none;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap:hover .close1 {
  display: inline-block;
  opacity: 1;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap .delete {
  font-size: 10px;
  color: #999;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap .close {
  width: 10px;
  height: 10px;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .uploader-list .file-item .delete-wrap .close1 {
  width: 15px;
  height: 15px;
  display: none;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap #uploader-wrap .pic-wrap .submit {
  width: fit-content;
  padding: 5% 15%;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: #95C16C;
  margin-top: 10%;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap .show-wrap {
  flex: 1;
  height: 100%;
}
.main-container .main-wrap .main-top .word-wrap .tab-content .wrap .show-wrap .img-detail {
  width: 100%;
  height: 100%;
  text-align: center;
}
.main-container .main-wrap .main-bottom {
  flex: 1;
  width: 100%;
  background-color: blue;
}
.footer-container {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.footer-container span {
  font-size: 16px;
}
.footer-container span:nth-child(2) {
  color: #999;
  font-size: 12px;
}
