.content-container {
  flex: 1;
  width: 100%;
  background-color: #F1F1F1;
  justify-content: center;
  display: none;
}
.content-container .content-wrap {
  background-color: #fff;
  margin-top: 20px;
  width: 90%;
  height: 85%;
  display: flex;
  box-sizing: border-box;
  position: relative;
}
.content-container .content-wrap .content-left {
  width: 40%;
  border-right: 1px solid #999;
  padding: 20px;
  box-sizing: border-box;
  overflow: scroll;
}
.content-container .content-wrap .content-left .panel-group .panel-default {
  border: none;
}
.content-container .content-wrap .content-right {
  background-color: #999;
  flex: 1;
  overflow: auto;
}
.content-container .content-wrap .content-right::-webkit-scrollbar {
  display: none;
}
.content-container .content-wrap .content-right p {
  margin-bottom: 50px;
}
.content-container .content-wrap .content-right .page1,
.content-container .content-wrap .content-right .page2 {
  background-color: #fff;
  padding: 20px 50px;
}
.content-container .content-wrap .content-right .page1 {
  margin-bottom: 10px;
}
.content-container .content-wrap .go-back {
  position: absolute;
  background-color: #E5E5E5;
  padding: 10px;
  font-size: 12px;
  color: #969696;
  display: flex;
  align-items: center;
  bottom: -50px;
  left: 40%;
}
.content-container .content-wrap .go-back:hover {
  cursor: pointer;
}
.content-container .content-wrap .go-back img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
